

body{
    margin: 0%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}


header{
    position:fixed;
    /*background-color: rgb(73, 73, 73); ESTE ES GRIS*/
    background-color: #000a23dc;
    opacity: 100%;
    width: 100%;
    height: 8%;
    z-index: 4;
    top: 0;
    display: flex;
    align-items: center;
}
#leyendaCabecera{
    padding-top: 2%;
    margin-left: 60%; /* 4% SI VA A LA IZQ, 60% SI VA A LA DER*/
    display:inline-block;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 700;
    color: rgb(226, 226, 226);
    font-size: larger;
    letter-spacing: 1px;
}
#boton{
    position: absolute;
    float: right;
    padding-left: 4%; /* 4% SI VA A LA IZQ, 4% SI VA A LA DER*/
    background-color: transparent;
    border:none;
}
a{
    color: rgb(172, 172, 172) !important;
}



/*#carouselExampleSlidesOnly{
    opacity: 100%;
    z-index: 1;
}*/
#degrade{
    position: absolute;
    display:inline-block;
    height:46.5%;
    width: 100%;
    background: linear-gradient(0deg,rgb(255, 255, 255),rgba(255, 255, 255, 0.247),rgba(0, 0, 0, 0.315)30%);
    z-index: 2;
    
}



#titulo{
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 3;
    width: 100%;
    text-align: center;
    top: 20%;
    font-family: 'Montserrat', sans-serif;  
    font-size:large;
}
#descripcion{
    margin-top: 17.5%;
    font-style: italic;
    font-family: "Roboto Slab",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding: 3%;
    color: rgb(70, 70, 70);
    text-align: center;
}



#ustedEstaAqui{
    margin-top: 20%;
    display: flex;
    justify-content: center;
}
.img-wrapper{
    width: 50%;
    margin: 13% 5% 5% 10%;
    position: relative;
    
}
.img-zoom-lens{
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 40px;
    height: 40px;
}
.img-zoom-result{
    background-color: teal;
    width: 167px;
    height: 150px;
}



#contenedorLista{
    padding: 5%;
    margin-top: 20%;
    color: rgb(70, 70, 70);
    margin-bottom: 5%;
}
#listaCursos{
    list-style-type: square;
}



footer{
    background-color: #000a23;
    margin: 0%;
    width: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    padding: 9%;
}
#textoFooter{
    color: rgb(226, 226, 226);
    text-align: center;
    margin-bottom: 0%;
}
#botonesRedesSociales{
    background-color: transparent;
    border:none;
    padding-top: 5%;
}
.social{
    padding-right: 10px;
    padding-left: 10px;
}


img{
    box-shadow:  0 -50px 50px rgb(230, 18, 18) inset;
}
#fotoRandom{
    width: 100%;
}
