<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Plantilla aula</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
        
        <script src="assets/script.js"></script>
    </head>

    <body>

        <div id="cabecera">
            <h2 id="leyendaCabecera">#ExpoModelo</h2>
            <button id="boton">
                <a href="../../index.html">
                    <i class="fa-solid fa-circle-chevron-left"></i>
                </a>
            </button> 
        </div>
        <div>
            <div id="titulo">
                <h1>Nombre Tematica</h1>
                <h2>Aula X</h2>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div id="degrade"></div>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://img.freepik.com/vector-premium/linea-cuadrada-brillante_1189-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/vector-premium/marco-cuadrado-rosa-claro-cuadrado-rosa-claro-bandera-cuadrada-luz-rosa_1189-2997.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://img.freepik.com/vector-gratis/galleta-cuadrada-estilo-dibujos-animados-aislado_1308-64646.jpg" class="d-block w-100" alt="...">
                </div>
                </div>
                
            </div>
            
        </div>
          
        

        

        <p id="descripcion">En el aula de física podemos encontrar numerosos proyectos que utilizan las leyes del mundo que nos rodea. Algunos proyectos pueden ser un pendulo de imanes que demustra la aplicacion de los campos magneticos, o un ventilador alimentado por energia renovable.</p>
        
        <div class="img-wrapper">
            <img id="ustedEstaAqui" src="assets/Captura desde 2023-10-10 16-18-27.png">
            <div id="img-zoom" class="img-zoom-result"></div>
        </div>
        <script>
            imageZoom("ustedEstaAqui", "img-zoom");
        </script>

        <div id="listaCursos">
            <h2>Cursos Involucrados</h2>
            <ul>
                <li>primero cst c A</li>
                <li>primero cst c B</li>
                <li>primero cst m A</li>
                <li>primero cst m B</li>
                <li>Segundo cst c A</li>

            </ul>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>