<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Plantilla aula</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
        


    </head>

    <header>

        
        <button (click)="onClickIrAMainPage()" id="boton">
            <a >
                <i id="flecha" class="fa-solid fa-circle-chevron-left"></i>
            </a>
        </button> 
        <h2 id="leyendaCabecera">ExpoModelo</h2>
    </header>
    <body>

        <div id="cabecera">
            
        </div>
        <div>
            <div id="titulo">
                <h1>Nombre Tematica</h1>
                <h2>Aula X</h2>
            </div>
            <div id="carrusel" class="carrusel-gradient">
                <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide *ngFor="let image of images">
                        <img [src]="image" style="width:100%; height:100%"/>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
          
        <p id="descripcion">En el aula de física podemos encontrar numerosos proyectos que utilizan las leyes del mundo que nos rodea. Algunos proyectos pueden ser un pendulo de imanes que demustra la aplicacion de los campos magneticos, o un ventilador alimentado por energia renovable.</p>
        

        <div class="container">

            <div class="image-container">
                <div class="image">
                    <img (click)="openImagePopup()" src="../../assets/plano-casa-bn.jpg">
                    <app-image-popup *ngIf="showImagePopup" (closePopupEvent)="closeImagePopup()"></app-image-popup>
                </div>
                <i id="location-dot" class="fa-solid fa-location-dot" style="color: #e01b24;"></i>
            </div>
            <p id="clickeeAqui">clickee el plano...</p>

        </div>
  


        <div id="contenedorLista">
            <h2>Cursos Involucrados</h2>
            <ul id="listaCursos">
                <li><p>3 <br> cstC</p></li>
                <li><p>1 <br> cstC</p></li>
                <li><p>2 <br> cstM</p></li>
                <li><p>1 <br> cstM</p></li>
                <li><p>2 <br> cstC</p></li>

            </ul>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    

    </body>

</html>

