

body{
    margin: 0%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}


header{
    position:fixed;
    /*background-color: rgb(73, 73, 73); ESTE ES GRIS*/
    background-color: #000a23e7;
    width: 100%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}
#leyendaCabecera{
    padding-top: 2%;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 700;
    color: rgb(226, 226, 226);
    font-size: larger;
    letter-spacing: 1px;
}
#boton{
    background-color: transparent;
    border:none;
}
a{
    color: rgb(172, 172, 172) !important;
}

.carrusel-gradient {
    max-width: 100%; 
    width: 800px;
    margin: auto;
  }
  .carrusel-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #ffffff 100%);
    margin-top: -135px;
    height: 137px;
    width: 100%;
    content: '';
  }



#titulo{
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 3;
    width: 100%;
    text-align: center;
    top: 20%;
    font-family: 'Montserrat', sans-serif;  
    font-size:large;
}
#descripcion{
    margin-top: 13.5%;
    font-style: italic;
    font-family: "Roboto Slab",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding: 3%;
    color: rgb(70, 70, 70);
    text-align: center;
}


.container{
    margin-top: 20%;
    width: 90%;
    position: relative;
    background: rgb(226, 226, 226);
    box-shadow: 0px 0px 15px #646464;
    padding-top: 3%;
}
.image-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    padding: 3%;
}
.image{
    border: 5px solid #000a23;
    overflow: hidden;
    cursor: pointer;
}
.image img{
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
#location-dot{
    position: absolute;
    font-size: 25px;
    padding-left: 51px; /* no sabemos como cargar estos datos desde el json de cada aula (el 1 linea de abajo tambien)*/
    padding-top: 30px;
}
#clickeeAqui{
    color: rgb(94, 94, 94);
    padding-left: 3%;
    padding-bottom: 3%;
    font-size: small;
}




#contenedorLista{
    width: 90%;
    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 5%;
    color: rgb(70, 70, 70);
    background: rgb(226, 226, 226);
    box-shadow: 0px 0px 15px #646464;
}
#contenedorLista h2{
    margin-bottom: 0;
}
#listaCursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0.5em;
    margin-bottom: 0;
}
li{
    width: fit-content;
    padding: 0.8em;
}
.circuloLista{
    width: 3.8rem;
	height: 3.8rem;
	border-radius: 50%;
	background: none;
    border: 5px solid #131a2b;
	display: flex;
	justify-content: center;
	text-align: center;
    padding:3%;
}
.circuloLista p{
    color: rgb(70, 70, 70);
    font-weight: bolder;
    font-size: small;
    align-items: center;
}

