*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* NAV */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
    z-index: 10;
    background-color:#000a23;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: height 1s;
    

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header ul{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header.scroll ul{
    padding: 0em;
}

header ul li{
    list-style: none;
    
}

header ul li p{
    position: relative;
    font-family: 'Montserrat', sans-serif;  
    margin: 0 15px;
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-size: 2em;
    transition: 0.7s;
    font-weight: 900;
}

header.scroll {
    transition: height 1s;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil al hacer scroll */
    padding: 0.5em; /* Puedes ajustar el espacio según tus necesidades */
    transition: background-color 0.3s, padding 0.7s, box-shadow 0.7s; /* Agrega transiciones */
}

header.scroll ul li p{
    position: relative;
    font-family: 'Montserrat', sans-serif;  
    margin: 0 15px;
    text-decoration: none;
    color: #464646;
    font-size: 1em;
    transition: 0.7s;
}

/* -- NAV -- */
body{
    padding-top: 19em;
    transition:padding 0.8s;
    padding-bottom: 2em;
}

body.scroll{
    padding-top: 6em;
    padding-bottom: 2em;
}



#descripcion{
    background-color: #02253d;
}

#descripcion p{
    padding: 1em;
    text-align: center;
    font-style: italic;
    font-family: "Roboto Slab",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: rgb(226, 226, 226);
}



.tituloTem{
    font-family: 'Montserrat', sans-serif;  
    color: #464646;
    font-size: larger;
    z-index: 3;
    width: 100%;
    text-align: left;
}

#Slides{
    margin: 0.5em;
}

/*carrousel de las materias*/

@media(max-width: 500px){


    slider-container{
        margin-top: 22px;
        margin-bottom: 20px;
    }

    #slide{
        width: 100%;
        margin: 10px 0 10px;
        height: 220px;
    }
    
    .slideCarrusel{
        text-align: center;
        margin-right: 15px !important;
        width: 120px !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content:center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items:center;
        align-items: center;
        border-radius: 5%;
        overflow-x: hidden;
    }
    
    .slideImagen{
        width: 100%;
    }

    .slideCarrusel:nth-child(1) .slideImagen {
        box-shadow: 0px 5px 10px rgba(255, 0, 0, 0.5); /* Sombra roja para la primera imagen */
    }
    
    .slideCarrusel:nth-child(2) .slideImagen {
        box-shadow: 0px 5px 10px rgba(0, 255, 0, 0.5); /* Sombra verde para la segunda imagen */
    }
    
    .slideCarrusel:nth-child(3) .slideImagen {
        box-shadow: 0px 5px 10px rgba(0, 0, 255, 0.5); /* Sombra azul para la tercera imagen */
    }
    
    .slideCarrusel:nth-child(4) .slideImagen {
        box-shadow: 0px 5px 10px rgba(255, 255, 0, 0.5); /* Sombra amarilla para la cuarta imagen */
    }
    
    .slideCarrusel:nth-child(5) .slideImagen {
        box-shadow: 0px 5px 10px rgba(255, 0, 255, 0.5); /* Sombra magenta para la quinta imagen */
    }

}
#flechaDerecha{
    display: flex;
    justify-content: right;
    font-size: larger;
    position: absolute;
    margin-top: -7em;
    margin-left: 17.5em;
    z-index: 5;
    color: rgb(226, 226, 226);
}
/* main-page.component.css */
#tituloPlano {
    font-size: larger;
    display: flex;
    padding-top: 2em;
    justify-content: left; 
    color: #464646;
}

#CarruselPisos{
    background-color: rgba(0, 0, 0, 0.2);
    margin: 10px 0 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #02253d;
    width: 100%;
}

/*-------------------------------*/
.containerSlide{
padding-top: 2em;
}
  
  .carousel-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  #aclaracion{
    color: black;
  }
  
  .carousel-caption{
    bottom: 1em;
    font-family: 'Montserrat', sans-serif;  
    color: #464646;
    font-weight: bold;
  }

  .carousel-indicators{
    bottom: 0;
  }

  #mapText{
    padding-bottom: 1.5em;
  }

  .boton{
    border: none;
  }
  
/* carrousel vertical*/