<html>
  <router-outlet></router-outlet>
  <footer>
    <p id="textoFooter">Vení a aprender, divertirte y vivir experiencias únicas a la Expo Modelo 2024</p>
    <button id="botonesRedesSociales">
        <a target="_blank" class="social" id="iconoInstagram" href="https://www.instagram.com/politecnicomodelo/?hl=es">
            <i class="fa-brands fa-instagram fa-xl"></i>
        </a>
        <a target="_blank" class="social" id="iconoFacebook" href="https://www.facebook.com/politecnicomodelo/?locale=es_LA">
            <i class="fa-brands fa-facebook fa-xl"></i>
        </a>                                                                                                                                                                                                                            
        <a target="_blank" class="social" id="iconoTwitter" href="https://twitter.com/IPModelo">
            <i class="fa-brands fa-twitter fa-xl"></i>
        </a>
    </button> 
</footer>
</html>